<h1>Countries Index Page</h1>

<a href="/countries/new">Add a Country</a>

<% @countries.each do |country| %>

	<h2><%= country.name %></h2>
	<p>Population: <%= country.pop %></p>
	<p>Primary Language: <%= country.language %></p>
	<p>Ruler: <%= country.president %></p>
	<p>Flag URL: <%= country.flag %></p>

	<a href="/countries/<%= country.id %>">Show Page</a>
	<a href="/countries/<%= country.id %>/edit">Edit</a>

<% end %>
